* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --color-brand-primary: #1d99ff;
    --color-brand-secondary: #ff455b;
    
    --color-feedback-error: #f1526e;
    --color-feedback-info: #3da4f3;
    --color-feedback-success: #00c689;
    --color-feedback-warning: #fdbf35;
  
    --color-text-dark: #708aa1;
    --color-text-light: #aebdc9;
    
    --color-interface-light: #f1f4f6;
    --color-interface-dark: #d5e0ec;
    
    --color-common-light: #ffffff;
    --color-common-dark: #000000;
  
    --spacing-xsmall: 0.25rem;
    --spacing-small: 0.25rem;
    --spacing-default: 1rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 2.5rem;
  
  }
  body {
    font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
    font-size: 1rem;
    background-color: var(--color-interface-dark);
  }
  /* MENU */
  .nav-menu{
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-medium);
    align-items: center;
    
    
  }
  .nav-menu-button{
    cursor: pointer;
    background-color: transparent;
    border:0;
  }
  .nav-menu-img{
    border-radius:50% ;
    width: 34px;
    height: 34px;
    
  }
  /* Section forms */
  .container{
    width: 94%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-large);
  }
  .title{
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 600;
    color: var(--color-text-light);
  }
  .subtitle{
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-brand-primary);
  }
  .form{
    margin-top: var(--spacing-large);
    line-height: 1.2;
  }
  .form-label{
    font-weight: 600;
    color: var(--color-text-dark);
  }
  .form-input-text{
    height: var(--spacing-xlarge);
    border: solid 1px var(--color-text-dark);
    border-radius: 5px;
    width: 74%;
  }
  .form-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--spacing-xlarge);
    width: 50px;
    border-radius:5px;
    border: none;
    color: var(--color-common-light);
    background-color: var(--color-brand-secondary);
    cursor: pointer;
  }
  .form-search{
    display: flex;
    align-items: center;
    gap: 3px;
  }
  /* Section tasks */
  .container-fluid{
    border: 1px solid var(--color-text-dark);
    background-color: var(--color-interface-light);
    padding-top: var(--spacing-xlarge);
    border-top-right-radius: 2.5rem;
    height: 55vh;
    
  }
  .task-group{
    display: flex;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: var(--spacing-small);
  }
  .task{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 40%;
    
  }
  .task-items{
    display: flex;
    gap: var(--spacing-small);
    white-space: nowrap;
  }
  .task-buttons{
    display: flex;
    gap: var(--spacing-small);
  }
  .button-edit{
    background-color: transparent;
    color: var(--color-text-dark);
    border: none;
    cursor: pointer;
  }
  .button-delete{
    background-color: transparent;
    color: var(--color-text-dark);
    border: none;
    cursor: pointer;
  }
  #checkbox1:checked~#text1{
    text-decoration: line-through;
  }
  
 